
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 well well-update text-center">
        <h2>J&C's BNB</h2>
        <h3>At J&C's BNB, we allow you to list your property so others can pay to stay while you are away.</h3>
    </div>
    <div class="col-md-4"></div>
</div>


<div class="row text-center row-margins">
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <button class="btn btn-warning home-btn" ng-click="register()">REGISTER</button>
    </div>
    <div class="col-md-4">
        <button class="btn btn-warning home-btn" ng-click="login()">LOGIN</button>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row text-center row-margins">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <button class="btn btn-warning home-btn" ng-click="seeAll()">ALL LISTINGS</button>
    </div>
</div>
